// =========================================================================================
// | Миксины
@import "mixins";
// =========================================================================================

// =========================================================================================
/* Подключение шрифтов */
// // 100 - ExtraLight
// // 200 - Thin
// // 300 - Light
// // 400 - Regular
// // 500 - Medium
// // 600 - SemiBold
// // 700 - Bold
// // 800 - ExtraBold
// // 900 - Black
// // Скачивать формат ttf
// | Если нужна кириллица // &display=swap&subset=cyrillic-ext
// | CTRL + ALT + F
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700);


// | Иконочный шрифт
// // @import "icons";

// | Шрифт по умолчанию
$fontFamily: "Roboto";

// | Цвет текста по умолчанию
$fontColor: #fff;
// =========================================================================================

// =========================================================================================
// | Переменнные
$minWidth: 320;
$maxWidth: 1920;
$maxWidthAdapt: 1354;
$maxWidthContainer: $maxWidthAdapt + 0px;
$md1: $maxWidthContainer + 12px;
$md2: 991px;
$md3: 767px;
$md4: 479px;
// =========================================================================================

// =========================================================================================
/* Обнуляющий стиль и настройки сайта */
@import "null";
body {
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
// =========================================================================================

// =========================================================================================
/* Оболочка */
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: linear-gradient(115.77deg, #303030 13.56%, #040404 93.44%) no-repeat;
}
// =========================================================================================

// =========================================================================================
// | Основная сетка
._container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}
// =========================================================================================
.btn {
	display: inline-flex;
	align-self: start;
	@include adaptiv-value("padding-top", 25, 15, 1);
	@include adaptiv-value("padding-right", 55, 23, 1);
	@include adaptiv-value("padding-bottom", 25, 15, 1);
	@include adaptiv-value("padding-left", 55, 23, 1);
	background: #CFA66B;
	border-radius: 20px;
	border: 1px solid #CFA66B;
	transition: 0.3s;
	&-text {
		font-family: Segoe UI;
		font-weight: 700;
		@include adaptiv-value("font-size", 25, 16, 1);
		@include adaptiv-value("line-height", 33, 22, 1);
	}
	&:hover {
		background: none;
		color: #CFA66B;
	}
}
// =========================================================================================
/* Основной блок */
.page {
	flex: 1 1 auto;
}
// =========================================================================================
/* Стили шапки */
@import "header";
/* Стили страницы */
@import "home";
/* Стили подвала */
@import "footer";
/* Медиа запросы (Адаптив) */
// =========================================================================================