@charset "UTF-8";

/* Подключение шрифтов */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700);

@font-face {
  font-family: "Segoe UI";
  font-display: swap;
  src: url("../fonts/SegoeUI-Regular.woff") format("woff"), url("../fonts/SegoeUI-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  font-display: swap;
  src: url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Обнуляющий стиль и настройки сайта */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  color: #fff;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  color: #fff;
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

/* Оболочка */

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -o-linear-gradient(334.23deg, #303030 13.56%, #040404 93.44%) no-repeat;
  background: linear-gradient(115.77deg, #303030 13.56%, #040404 93.44%) no-repeat;
}

._container {
  max-width: 1354px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-top: 25px;
  padding-right: 55px;
  padding-bottom: 25px;
  padding-left: 55px;
  background: #CFA66B;
  border-radius: 20px;
  border: 1px solid #CFA66B;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-text {
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
}

.btn:hover {
  background: none;
  color: #CFA66B;
}

/* Основной блок */

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Стили шапки */

.header {
  margin-top: 135px;
  margin-bottom: 165px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__image {
  width: 180px;
  height: 180px;
  margin-left: 100px;
}

.header__image img {
  width: 100%;
  height: 100%;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 80px;
  margin: 24px 30px 0px;
  max-width: 542px;
}

.header__title {
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 50px;
  line-height: 66px;
}

.header__qr {
  width: 380px;
  height: 380px;
}

.header__qr img {
  width: 100%;
  height: 100%;
}

/* Стили страницы */

.block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block__column-2 {
  margin-right: 112px;
  margin-bottom: 150px;
}

.block__column-3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 35px;
}

.block__column-3 ul li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: 0px 15px 6px;
}

.block__column-6 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin-bottom: 120px;
}

.block__column-7 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.block__column-7 span {
  text-decoration: underline;
}

.block__column-8 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.block__column-8 ol {
  margin: 46px 0px;
  margin-left: 35px;
}

.block__column-8 span {
  font-style: italic;
}

.block__column-9 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.block__column-10 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.block__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #CFA66B;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.block__box-text {
  max-width: 540px;
  margin-left: 35px;
}

.block__title {
  font-weight: 400;
  font-size: 38px;
  line-height: 42px;
}

.block__subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  font-size: 28px;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #E5E5E5;
}

.block__subtitle span {
  display: inline;
}

.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__box-tablo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 65px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 66px;
}

.block__items {
  position: relative;
}

.block__block-img img {
  width: 100%;
  height: 100%;
}

.block__block-img-1 {
  width: 520px;
  height: 245px;
}

.block__block-img-2 {
  width: 632px;
  height: 100px;
}

.block__block-img-3 {
  width: 632px;
  height: 434px;
}

.block__block-img-4 {
  width: 632px;
  height: 182px;
}

.block__block-img-5 {
  width: 632px;
  height: 402px;
}

.block__block-img-6 {
  width: 632px;
  height: 405px;
}

.block__block-hand {
  position: absolute;
  top: 0;
  left: 0;
}

.block__block-hand-1 {
  top: 70px;
  left: 350px;
  z-index: 10;
}

.block__block-hand-2 {
  top: -72px;
  left: 395px;
  z-index: 10;
}

.block__block-hand-3 {
  top: 195px;
  left: -115px;
}

.block__block-hand-4 {
  top: 225px;
  left: 130px;
}

.block__block-hand-5 {
  top: 200px;
  left: 345px;
}

.block__block-hand-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.block__block-hand-mobile-1 {
  top: 75px;
  left: 300px;
  z-index: 10;
}

.block__block-hand-mobile-2 {
  top: 0px;
  left: 500px;
  z-index: 10;
}

.block__block-hand-mobile-3 {
  top: 200px;
  left: -150px;
}

.block__block-hand-mobile-4 {
  top: 300px;
  left: 250px;
}

.block__block-hand-mobile-5 {
  top: 95px;
  left: 220px;
  top: 225px;
  left: 475px;
}

.block__box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 100px;
}

/* Стили подвала */

.footer {
  margin-top: 130px;
  margin-bottom: 80px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  max-width: 1000px;
}

.footer__title {
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
}

.footer__email {
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #CFA66B;
  margin-bottom: 100px;
}

.footer__email:hover {
  font-size: 62px;
}

.footer__subtitle {
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #E5E5E5;
}

.footer__subtitle span {
  color: #CFA66B;
}

/* Медиа запросы (Адаптив) */

@media (max-width: 1366px) {
  ._container {
    max-width: 970px;
  }

  .header__image {
    margin-left: 30px;
  }

  .block__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block__column-1 {
    margin-bottom: 50px;
  }

  .block__column-2 {
    margin-right: 0px;
    margin-bottom: 100px;
  }

  .block__column-6 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 50px;
  }

  .block__column-7 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 35px;
  }

  .block__column-8 {
    margin-bottom: 35px;
  }

  .block__column-9 {
    margin-bottom: 80px;
  }

  .block__column-10 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .block__box-list {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 200px;
  }
}

@media (max-width: 1354px) {
  .btn {
    padding-top: calc(15px + 10 * ((100vw - 320px) / 1034));
  }

  .btn {
    padding-right: calc(23px + 32 * ((100vw - 320px) / 1034));
  }

  .btn {
    padding-bottom: calc(15px + 10 * ((100vw - 320px) / 1034));
  }

  .btn {
    padding-left: calc(23px + 32 * ((100vw - 320px) / 1034));
  }

  .btn-text {
    font-size: calc(16px + 9 * ((100vw - 320px) / 1034));
  }

  .btn-text {
    line-height: calc(22px + 11 * ((100vw - 320px) / 1034));
  }

  .header {
    margin-top: calc(50px + 85 * ((100vw - 320px) / 1034));
  }

  .header {
    margin-bottom: calc(75px + 90 * ((100vw - 320px) / 1034));
  }

  .header__image {
    width: calc(75px + 105 * ((100vw - 320px) / 1034));
  }

  .header__image {
    height: calc(75px + 105 * ((100vw - 320px) / 1034));
  }

  .header__text {
    row-gap: calc(40px + 40 * ((100vw - 320px) / 1034));
  }

  .header__title {
    font-size: calc(20px + 30 * ((100vw - 320px) / 1034));
  }

  .header__title {
    line-height: calc(26px + 40 * ((100vw - 320px) / 1034));
  }

  .block__column-3 ul li::before {
    width: calc(3px + 4 * ((100vw - 320px) / 1034));
  }

  .block__column-3 ul li::before {
    height: calc(3px + 4 * ((100vw - 320px) / 1034));
  }

  .block__number {
    min-width: calc(30px + 25 * ((100vw - 320px) / 1034));
  }

  .block__number {
    height: calc(30px + 25 * ((100vw - 320px) / 1034));
  }

  .block__number {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1034));
  }

  .block__number {
    line-height: calc(24px + 18 * ((100vw - 320px) / 1034));
  }

  .block__box-text {
    margin-left: calc(20px + 15 * ((100vw - 320px) / 1034));
  }

  .block__title {
    font-size: calc(22px + 16 * ((100vw - 320px) / 1034));
  }

  .block__title {
    line-height: calc(24px + 18 * ((100vw - 320px) / 1034));
  }

  .block__subtitle {
    font-size: calc(16px + 12 * ((100vw - 320px) / 1034));
  }

  .block__subtitle {
    line-height: calc(24px + 18 * ((100vw - 320px) / 1034));
  }

  .block__block-img-1 {
    width: calc(250px + 270 * ((100vw - 320px) / 1034));
  }

  .block__block-img-1 {
    height: calc(120px + 125 * ((100vw - 320px) / 1034));
  }

  .block__block-img-2 {
    width: calc(260px + 372 * ((100vw - 320px) / 1034));
  }

  .block__block-img-2 {
    height: calc(40px + 60 * ((100vw - 320px) / 1034));
  }

  .block__block-img-3 {
    width: calc(260px + 372 * ((100vw - 320px) / 1034));
  }

  .block__block-img-3 {
    height: calc(180px + 254 * ((100vw - 320px) / 1034));
  }

  .block__block-img-4 {
    width: calc(260px + 372 * ((100vw - 320px) / 1034));
  }

  .block__block-img-4 {
    height: calc(75px + 107 * ((100vw - 320px) / 1034));
  }

  .block__block-img-5 {
    width: calc(260px + 372 * ((100vw - 320px) / 1034));
  }

  .block__block-img-5 {
    height: calc(165px + 237 * ((100vw - 320px) / 1034));
  }

  .block__block-img-6 {
    width: calc(260px + 372 * ((100vw - 320px) / 1034));
  }

  .block__block-img-6 {
    height: calc(167px + 238 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-1 {
    top: calc(-40px + 110 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-1 {
    left: calc(125px + 225 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-2 {
    top: calc(-110px + 38 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-2 {
    left: calc(40px + 355 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-3 {
    top: calc(20px + 175 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-3 {
    left: calc(-200px + 85 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-4 {
    top: calc(15px + 210 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-4 {
    left: calc(-125px + 255 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-5 {
    top: calc(5px + 195 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-5 {
    left: calc(20px + 325 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-1 {
    top: calc(0px + 75 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-1 {
    left: calc(100px + 200 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-2 {
    top: calc(-65px + 65 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-2 {
    left: calc(140px + 360 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-3 {
    top: calc(40px + 160 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-3 {
    left: calc(-165px + 15 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-4 {
    top: calc(70px + 230 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-4 {
    left: calc(5px + 245 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-5 {
    top: calc(45px + 180 * ((100vw - 320px) / 1034));
  }

  .block__block-hand-mobile-5 {
    left: calc(130px + 345 * ((100vw - 320px) / 1034));
  }

  .footer {
    margin-top: calc(50px + 80 * ((100vw - 320px) / 1034));
  }

  .footer {
    margin-bottom: calc(50px + 30 * ((100vw - 320px) / 1034));
  }

  .footer__box {
    max-width: calc(300px + 700 * ((100vw - 320px) / 1034));
  }

  .footer__title {
    font-size: calc(22px + 16 * ((100vw - 320px) / 1034));
  }

  .footer__title {
    line-height: calc(30px + 22 * ((100vw - 320px) / 1034));
  }

  .footer__email {
    font-size: calc(30px + 30 * ((100vw - 320px) / 1034));
  }

  .footer__email {
    line-height: calc(40px + 40 * ((100vw - 320px) / 1034));
  }

  .footer__email:hover {
    font-size: calc(32px + 30 * ((100vw - 320px) / 1034));
  }

  .footer__subtitle {
    font-size: calc(15px + 19 * ((100vw - 320px) / 1034));
  }

  .footer__subtitle {
    line-height: calc(20px + 24 * ((100vw - 320px) / 1034));
  }
}

@media (max-width: 991px) {
  ._container {
    max-width: 750px;
  }

  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__qr {
    display: none;
  }
}

@media (max-width: 767px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .block__column-3 ul li::before {
    margin: 0px 10px 3px;
  }

  .block__column-8 ol {
    margin-left: 30px;
  }
}

@media (max-width: 479px) {
  .header__text {
    margin: 10px 20px 0px;
  }

  .header__button {
    margin-left: calc(-50px + 550 * ((100vw - 320px) / 1600));
  }

  .block__block-hand {
    display: none;
  }

  .block__block-hand-mobile {
    display: block;
  }

  .block__box-list {
    margin-top: 100px;
  }

  .footer__title {
    text-align: left;
  }

  .footer__email {
    text-align: left;
  }

  .footer__email {
    margin-bottom: 50px;
  }
}